$first: #0e2431;

$lightbrown: #6b645c;
$darkbrown: #3b3834;
$lightbrown2: #7e767c;


.about {
    position: relative;
    padding: 2rem;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .content {
            width: 100%;

            .aboutDescription {
                h3 {
                    font-size: 2rem;
                    margin-bottom: 3rem;
                }
            }

            .aboutList {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 3rem;
                flex-wrap: wrap;

                .eachItem {
                    transform-style: preserve-3d;
                    width: 15rem;
                    height: 21rem;
                    box-shadow: 0px 0px 10px 1px #000000ee;
                    border-radius: 5px;
                }

                .eachItemWrapper {
                    background-color: #e5e5e0;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    overflow: hidden;

                    &::before {
                        position: absolute;
                        content: ' ';
                        width: 160px;
                        height: 125%;
                        background: linear-gradient(90deg, transparent, $darkbrown, $darkbrown, $darkbrown, $darkbrown, transparent);
                        animation: rotation_481 5000ms infinite linear;
                    }
                }


                .info {
                    position: absolute;
                    width: 98%;
                    height: 99%;
                    background-color: #e5e5e0;
                    border-radius: 5px;
                    color: $darkbrown;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    text-align: center;
                    font-size: 1.25rem;
                    font-weight: 600;
                    padding: 1rem;

                    svg {
                        font-size: 4rem;
                        // padding-bottom: 1rem;
                    }
                }

                @keyframes rotation_481 {
                    0% {
                        transform: rotateZ(0deg);
                    }

                    0% {
                        transform: rotateZ(360deg);
                    }
                }

                .desc {
                    font-size: 0.9rem;
                    font-weight: 100;
                }

            }
        }
    }
}